/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}

h1{
	text-align:center;}
.player_one{
	background-color: rgb(255, 255, 255);
	padding:1px;
	border:1px solid black;
	border-radius:10px;
	
}
.player_two{
	background-color: rgb(255, 255, 255);
	padding:1px;
}
h2{
	text-align:center;
	}
h2{
	text-align:center;
}
	
li{
	/* height:100px; */
	/* width:200%; */
	list-style-type:none;
	background-color:white;
	/* border:1px solid black; */
	/* border-radius:10px */
}
a{
	text-decoration:none;
	color:black;
	text-align:left;
}
video{
	width:100%
}
audio{
	width:100%
}
	
	
